/* CSS BY ---Jaelynn Shurley--- */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/* CSS REST */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    font-family: Kavoon, sans-serif;
    --Green: #06A816;
    --Orange: #E75D02;
    --Black: #000000;
    --White: #ffffff;
}

h1 {
    background-color: var(--Green);
    font-size: 2.5em;
    font-family: Irish Grover;
    padding: 0.5em;
    text-shadow: 2px 2px 2px black;
}
h2 {
    font-size: 1.75em;
    font-family: Irish Grover;
    margin: 0.5em 0;
}
h3 {
    font-size: 1.25em;
    font-family: Irish Grover;
    margin: 0.5em 0;
    text-align: center;
}
p{
    font-size: 1.25em;
    font-family: Habibi;
}

header {
    color: var(--White);
}
header p {
    background-color: var(--Green);
    padding-bottom: 0.5em;
}
nav {
    padding: 1em 0;
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    text-align: center;
    background-color: var(--Orange);
    font-family: Habibi;
    color: var(--White);
    padding: 0.5em;
    width: 300px;
    border: solid 1px var(--White);
}

div{
    padding: 0.5em;
}

[href="#top"] {
    position: fixed;
    margin: 0;
    right: 0;
    width: 30px;
    bottom: 20px;
    border-radius:2px;
    border: solid 1px var(--White);
    z-index: 1;
}

#Info {
    text-align: center;
    background-color: var(--Green);
    color: var(--White);
}

#fruit-images {
    text-align: center;
}
#veggie-images {
    text-align: center;
}
.container {
    position: relative;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--White);
    background-color: rgba(000, 0, 0, 0.7);
    width: 160px;
    padding: 1em 0;
}

footer {
    color: var(--Green);
    text-align: center;
    font-family: Irish Grover;
    padding: 0.5em 0 1em 0;
}

/* GLOBAL STYLES (mobile first/small) */
@media screen and (min-width: 428px) {
    header {
        text-align: center;
    }
    nav {
        margin: 0 4em 1em 4em;
    }
    nav a {
        display: block;
        margin: auto;
    }
    nav li {
        margin: 1em;
    }
    #header {
        padding: 0;
    }
}
/* MEDIA QUERY (medium) */
@media screen and (min-width: 834px) {
    header {
        text-align: left;
    }
    #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: var(--Green);
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    nav{
        margin: 0.5em;
    }

    #fruit-images, #veggie-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        margin-bottom: 2em;
    }

    #Info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* MEDIA QUERY (large) */
@media screen and (min-width: 1280px) {
    h1 {
        padding-left: 0;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--Green);
        padding: 0.5em;
    }
    #header {
        display: block;
    }
    #fruit-images, #veggie-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #Contact, #Hours {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em;
    }
}
/* MEDIA QUERY (xl) */
@media screen and (min-width: 1440px) {
    #fruit-images, #veggie-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}